# Source files
src/
tsconfig.json

# Development files
.eslintrc
.prettierrc
.vscode/
node_modules/

# Build artifacts
android/build/
ios/Build/
ios/Pods/

# Git files
.git/
.github/
.gitignore

# Other
*.log